<style>
    .mid-section {
      background-image: url('assets/flowers.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      display: flex;
      flex-direction: row;
      background-color:rgb(56, 145, 56);
      justify-content: space-around;
      align-items: center;
      height: 40vh;
    }

    .welcome-card {
      background-image: url('assets/blue-sky.jpg');
      background-size: cover;
      background-color:rgb(56, 145, 56);
      height: 20vh;
      text-align: center;
    }
</style> 
<div class="container">
    <div class="welcome-card">
        <h1> Welcome to Gnomes Knoll Services </h1>
    </div>>
    <div class="mid-section">
        <div class="gallery-card">
            <h1>View Our Work</h1>
        </div>
        <div class="info-card">
            <h1>Learn about us</h1>
            <button  (click)="infoNav()">Here</button>
        </div>
    </div>
    <div class="store-card">
        <h1>
            Buy our shit
        </h1>
    </div>
</div>
