<style>
    .heading {
        background-image: url('assets/sky.jpeg');
        background-size: 100% 100%;
    }
</style>

<div class="heading">
    <h1>Browse Our Wares</h1>
</div>
<div class="store-container">
    <div class="stone-container">
        <img src="assets/stoneleft.jpeg" class="stone-image">
    </div>
    <div class="store">
        <div class="item"> 
            mens short sleve shirt
        </div>
        <div class="item">
            ladies short sleve shirt
        </div>
        <div class="item">
            mens long sleve shirt 
        </div>
        <div class="item"> 
            mens short sleve shirt
        </div>
        <div class="item">
            hat 
        </div>
        <div class="item">
            hoodie
        </div>
    </div>
    <div class="stone-container">
        <img src="assets/stoneright.jpeg" class="stone-image">
    </div>
</div>
