.heading {
    height: 10vh;
    background-color: blue;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 666;
    color: white;
    -webkit-text-stroke-width: .75px;
    -webkit-text-stroke-color: black;
    border-style: outset;
    border-width: .6em;
    padding: .4em;
    border-color: rgb(20, 116, 194);
    background-color: rgb(12, 94, 201);
}

.store-container {
    display: flex;
}

.stone-image {
    width: 17vw;
    height: 90vh;
    filter: brightness(69%);
}

.store {
    width: 66vw;
    background-color: grey;
    display: flex;
    flex-wrap: wrap;
}

.item {
    width: 18vw;
    height: 40vh;
    object-fit: cover;
    background-color: black;
    position: relative;
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-left: 2vw;
    margin-right: 2vw;
    color: white;
    line-height:4em;
    -webkit-box-shadow: 0 0 15px black;
    box-shadow: 0 0 15px black;
}