<style>
    .heading {
        height: 10vh;
        background-color: blue;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: 666;
        color: white;
        -webkit-text-stroke-width: .75px;
        -webkit-text-stroke-color: black;
        border-style: outset;
        border-width: .6em;
        padding: .4em;
        border-color: rgb(20, 116, 194);
        background-color: rgb(12, 94, 201);
    }

    .intro-paragraph {
        background-color: rgb(8, 54, 8);
    }

    .Richard {
        height: 50vh;
        width: 100%;
        background-color: green;
        display: flex;
        flex-direction: row;
    }

    .richard-info {
        width: 50vw;
    }

    .Karen {
        height: 50vh;
        width: 100%;
        background-color: purple;
        display: flex;
        flex-direction: row;
    }

    img {
        width: 50vw;
        height: 50vh;
    }

    h1 {
        margin: 0%;
    }

    p {
        margin: 0%;
        font-size: x-large;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: rgb(199, 35, 199);
        -webkit-text-stroke-width: .05px;
        -webkit-text-stroke-color: black;
    }
</style>
<div class="heading">
    <h1>About Us</h1>
</div>
<div class="intro-paragraph">
    <p>
        Gnomes Knoll Farms and Services is a full service landscaping and flower company <br>
        <br>
        We specialize in transformning drab squares of brown withered grass and lifeless earth into
        beautiful mosiacs of vibrant plant life. <br>
        <br>
        These mosiacs are crafted through our personalized partnership with artisinal flowers, shrubs, hedges, ivy, anything which
        helps transform your space from where you live to where you feel alive <br>
        <br>
        Though the effects on your property are often drastic, all our work is organized planned and for the large part 
        executed by but two humble Gnomes. <br>
    </p>
</div>
<div class="heading">
    <h2>Meet Richard and Karen</h2>
</div>
<div class="Richard">
    <img src="assets/richard.jpg" alt="Richard the Gnome">
    <div class="richard-info">
        <p> 
            The hands and back behind much of the work we do, Richard has a keen eye for landscapes which enables
            him to give you the most for your space, regardless of how much space he had to work with. 
        </p>
    </div>
</div>
<div class="Karen">
    <div class="karen-info">
        <p>
            Our resident flower girl and the heart of the gnoll, Karen is an artist who paints landscapes with 
            pastels of flowers
        </p>
    </div>
    <img src="assets/karen.jpg" alt="Karen the Gnome">
</div>