<style>

    .heading {
        height: 10vh;
        background-image: url('assets/sky.jpeg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: 666;
        color: white;
        -webkit-text-stroke-width: .75px;
        -webkit-text-stroke-color: black;
        border-style: outset;
        border-width: .6em;
        padding: .4em;
        border-color: rgb(20, 116, 194);
        background-color: rgb(12, 94, 201);
    }

    .gnomes {
        background-image: url('assets/trees.jpeg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        display: flex;
        align-items: center;
        height: 175vh;
    }

    .image-container {
        top: 5vh;
        position: relative;
        width: 100vh;
        height: 75vh;
        align-items: center;
        justify-content: center;
        display: flex;
        border-width: 10px;
        border-style: solid;
        border-color: rgb(164,116,73);
    }

    .about {
        background-color: black;
        position: relative;
        top: 7vh;
        width: 45vw;
        height: 88vh;
        -webkit-box-shadow: 0 0 15px black;
        box-shadow: 0 0 15px black;
    }

    img {
        width: 100%;
        height: 100%;
    }

    h1 {
        margin: 0%;
    }

    p {
        position: relative;
        top: 2vh;
        left: 1vw;
        right: .1vw;
        margin: 0%;
        font-size: x-large;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: white;
        -webkit-text-stroke-width: .05px;
        -webkit-text-stroke-color: black;
    }
</style>
<div class="heading">
    <h2>Meet Richard and Karen</h2>
</div>
<div class="gnomes">
    <div class="image-container">
        <img src="assets/gnomes.jpeg" alt="">
    </div>
    <div class="about">
        <p>
            The hands are heart behind everything we do here at Gnomes Services, 
            Karen and Richard have been working together for over 20 years. <br>
            <br>
            Karen ran Gnomes Knoll farm before she met Richard, where she began expressing
            a vision in flowers which has allowed her to continuously satisfy customers. Some
            of our customer have been trusting Karen for their flowers for over 30 years! <br>
            <br>
            Richard has been working with stone for 20 years, and in that time he has used a 
            variety of materials and designs to provide spaces with structures both to augment 
            a space's structure and to provide Karen's flowers with a beutiful framwork which to 
            inhabit <br>
            <br>
            Whatever your needs are, the humble hands of Gnomes Services will not only provide 
            you with any flowers folliage or stonework which you might require, we also offer 
            comprehensive maintenance on all our services. If you'd like us to cut the grass water the 
            flowers protect against pests and insects or even blow your leaves, we're here to help


        </p>
    </div>
</div>
